# Ans1

In [1]:
# data base is used to store data , sql is store data in 
# structured format and nosql store data in to jsom fromat.

# Ans2

In [2]:
# DDL is data definition language .
# create- is use to create database create table.
# drop- drop is use to delete databae , delete table.
# alter- is use to add column , constraint in existing table.

# Ans3

In [3]:
# DML is data manipulation language.
# insert - is use to insert data into table.
# update- is use to update data in the table.
# delet - is use to delete data from table.

# Ans4

In [4]:
# It is used for retrieving data. A user can retrieve data
# according to his/her requirements using the select command. 
# ex.
# select *
# from employee;  
# asterisk mark (*) indicates that all the rows are retrieved from the table.

# Ans5

In [5]:
# primary key--A primary key is used to ensure that data in the
# specific column is unique. A column cannot have NULL values. I
# t is either an existing table column or a column that is specifically 
# generated by the database according to a defined sequence. 

# foreign key--A foreign key is a column or group of columns in a 
# relational database table that provides a link between data in 
# two tables. It is a column (or columns) 
# that references a column (most often the primary key) of another table.

# Ans6

In [6]:
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password"
# )
# print(mydb)
# mycursor = mydb.cursor()
# mycursor.execute("SHOW DATABASES")
# for x in mycursor:
#   print(x)

# execute is use to store value into the table

# Ans7